{% extends 'base.html.twig' %}

{% block title %}
    Gestor de Clubs - Language
{% endblock %}

{% block nav %}
    <a class="navbar-brand" href="#">Gestor de Clubs - Language</a>
{% endblock %}

{% block sidebar %}
    <li>
        <a href="{{ path('list-languages') }}">
            Listar Lenguajes
        </a>
    </li>
{% endblock %}